.myCssClass {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: #0c0224;

  color: solid #0c0224;
  color:  #5f8c81;
  width: auto;

  padding: 8px 12px;
  border: none;
  outline:none;
  outline:0;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
}

h1, h2, h3, h4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: #2a3a36;
}

img {
  border: 20px solid black;
  border-style: double;
  margin: 1px;
}

.center {
  text-align: center;
  list-style-position: inside;
}

ol.center {
 text-align: left;
}

li {
  font-size: large;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}