
@using Factory.Models;

<div class="container">
<h1><a href="https://fontmeme.com/stumble-guys-font/"><img src="https://fontmeme.com/permalink/220528/a584d39284c033b24b15b583883a9f91.png" alt="stumble-guys-font" border="0"></a></h1>
<img src=img/engineer.gif>
@if (Model.Count == 0)
{
  <h2>No Engineers have been added yet!</h2>
}

<table>
  <tr>
    <th>Engineer</th>
    <th>Date Hired</th>
  </tr>
  @foreach(Engineer engineer in Model)
  {
    <tr>
      <td>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</td>
      <td>@engineer.DateHired</td>
    </tr>
  }
</table>
<p>@Html.ActionLink("Add a new Engineer", "Create", null, null,  new {@class = "myCssClass"})</p>
<p>@Html.ActionLink("Home", "Index", "Home", null,  new {@class = "myCssClass"})</p>
</div>