<div class="container">
  <h1><a href="https://fontmeme.com/i-hate-youngboy-font/"><img src="https://fontmeme.com/permalink/220527/37be2510edd8dcc68a077339a1507f38.png" alt="i-hate-youngboy-font" border="0"></a><h1>
    <img src=img/string.jpg>
  <p>@Html.ActionLink("Engineer List", "Index", "Engineers", null, new {@class = "myCssClass"})</p>
  <p>@Html.ActionLink("Machine List", "Index", "Machines", null, new {@class = "myCssClass"})</p> 
</div>