<div class="container">
  <h1>Welcome to Dr. Silly Stringz's Factory<h1>
  <p>@Html.ActionLink("Engineer List", "Index", "Engineers", null, new {@class = "myCssClass"})</p>
  <p>@Html.ActionLink("Machine List", "Index", "Machines", null, new {@class = "myCssClass"})</p> 
</div>